<div class="wrapper">
    <nav>
        <ul>
            <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()" jhiTranslate="global.menu.home">Accueil</a></li>
            <li><a href="#">A propos</a></li>
            <li><a href="#">L'équipe</a></li>
            <li><a routerLink="product" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()" jhiTranslate="global.menu.boutique">La boutique</a></li>
            <li><a href="#">Contactez-nous</a></li>
        </ul>
    </nav>

    <div class="copyright">
        &copy; 2020 Les Radins de la Galaxie. All rights reserved.
    </div>
</div>
