
</br>
<footer class="footer">
    <div class="container-fluid">
        <div class="row text-center justify-content-center">
            <div class="col-md-2 mt-3 mb-1">
                <h6 class="text-uppercase font-weight-bold">
                    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" jhiTranslate="global.menu.home">Accueil</a>
                </h6>
            </div>

            <div class="col-md-2 mt-3 mb-1">
                <h6 class="text-uppercase font-weight-bold">
                    <a routerLink="product" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" jhiTranslate="global.menu.boutique">Boutique</a>
                </h6>
            </div>

            <div class="col-md-2 mt-3 mb-1">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!">L'équipe</a>
                </h6>
            </div>

            <div class="col-md-2 mt-3 mb-1">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!">A propos</a>
                </h6>
            </div>

            <div class="col-md-2 mt-3 mb-1">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!">Contact</a>
                </h6>
            </div>
        </div>

        <hr width="75%" color="white">

        <div class="row">
            <div class="col-md-12">
                <div style="text-align:center">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                </div>
            </div>
        </div>
        <div class="row text-center d-flex justify-content-center pt-4" style="background-color:#324191">
            <div class="col-md-12">
            <span>
                &copy; 2020 :
                <a href="https://rdlgalaxie.cfapps.io/" style="color:white"> Les Radins de la Galaxie.</a> All rights reserved.
            </span>

            </div>
        </div>

    </div>
</footer>
