<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1 class="text-capitalize text-center" jhiTranslate="contact.title">Title</h1>
    <hr/>
  </div>

</div>
<!-- Page Content -->

<div class="row justify-content-center">

    <div class="container">

        <form action="/action_page.php">

            <div class="form-group">
                <label for="firstname">First name:</label>
                <input type="text" class="form-control" id="firstname" placeholder="Enter first name..." name="firstname">
            </div>

            <div class="form-group">
                <label for="lastname">Last name:</label>
                <input type="text" class="form-control" id="lastname" placeholder="Enter last name..." name="lastname">
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="example@host.com" name="email">
            </div>

            <div class="form-group">
                <label for="content">Subject:</label>
                <textarea class="form-control" rows="5" id="content" placeholder="Write text here..."></textarea>
            </div>


            <button style="text-align:center" type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
</div>
