
<div class="card jh-card">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h1 class="text-center" jhiTranslate="concept.title">Title</h1>
            <hr/>
        </div>
    </div>


    <div class="row text-justify justify-content-center">
        <div class="col-10">
            <p class="lead" jhiTranslate="concept.conceptdescr"></p><br/>
        </div>
    </div>

    <div class="row text-justify justify-content-center">
        <div class="col-10">
            <p class="lead" jhiTranslate="concept.content"></p><br/>
        </div>
    </div>

    <div class="row text-center justify-content-center">
        <div class="col-10">
            <p class="lead" jhiTranslate="concept.contentend"></p><br/>
        </div>
    </div>
</div>
