<div class="card jh-card">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <h1 class="text-center" jhiTranslate="equipe.title">Présentation de l'équipe</h1>
        <hr/>
      </div>
    </div>

    <div class="row lead text-justify justify-content-center">
        <div class="col-md-10">
            <p jhiTranslate="equipe.contenu1">
                Une équipe de choc se relaie jour et nuit afin de dénicher les meilleurs produits à des prix imbattables uniquement pour vous ! <br/>
                Cette équipe est composée des meilleurs éléments issus de notre communauté cosmique.
                Ils suivent minutieusement tous les commandements des Radins de la Galaxie avec à leur tête, notre lumière dans cette pénombre : Lorène notre gourou cosmique. Sous la surveillance de notre maîtresse cosmique, Louis, Pauline, Romain et Julie ont suivi un entraînement d’élite afin de devenir les meilleurs radins que cette galaxie n’a jamais connue.
            </p>
        </div>
    </div>

    <div class="row justify-content-center">

        <div class="col-2" style="text-align:center">
            <div class="louis"></div><br/>
            <span><font size="4px"><b>Louis</b><br/>Sbire N°1, he got your BACK ;</font></span>
        </div>

        <div class="col-2" style="text-align:center">
            <div class="pauline"></div>
            <span><font size="4px"><b>Pauline</b><br/>Sbire N°2, Always in FRONT ;</font></span>
        </div>

        <div class="col-2" style="text-align:center">
            <div class="romain"></div>
            <span><font size="4px"><b>Romain</b><br/>Sbire N°3, SQL pro (Source of Quiproquos at Lunch);</font></span>
        </div>

        <div class="col-2" style="text-align:center">
            <div class="julie"></div>
            <span><font size="4px"><b>JulieCoton</b><br/>Sbire N°4, communique avec les eSpring;</font></span>
        </div>

        <div class="col-2" style="text-align:center">
            <div class="lorene"></div>
            <span><font size="4px"><b>Lorène</b><br/>Big Gourou Cosmique of the dead ;</font></span>
        </div>

    </div>

    <div class="row lead text-center justify-content-center">
        <p jhiTranslate="equipe.contenu2"></p>
    </div>
</div>
