@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */
.navbar-defaut {
  background-color: #ad35ee;
}

.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 5em;
  width: 4em;
}

.navbar {
  padding: 0.2rem 1rem;
  /* background-img pour navbar
  background: url('/../../content/css/bg_planet.png'); */
  background: #1b2465;

  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
      float: left;
    }
  }

  a.nav-link {
    font-weight: 400;
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 55px;
  width: 65px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/logo-jhipster.png') no-repeat center center;
  background-size: contain;
}
