    <div class="row text-center justify-content-center">
        <div class="column left"></div>

        <div class="column middle" style="background-color:white;">

                  <h2 jhiTranslate="home.titlehome">Title</h2>

                  <hr width="75%" color="black"><br/>

                  <p class="lead" jhiTranslate="home.subtitle">
                      Vous en avez assez de passer 3 heures à vous perdre de site web en site web, à lorgner sur des articles beaucoup trop chers pour ce qu'ils sont ? <br/>
                      Nous aussi ! C'est pourquoi notre site propose l'excellence, le paroxysme des produits qui sauront satisfaire les plus radins de toute la galaxie. <br/>
                      Cosmiquement vôtre, L'équipe.
                  </p>

                  <div id="slideshow">
                      <ul id="sContent">
                          <li><img src="/../../content/images/PubBo.jpg" alt="Image1" /></li>
                          <li><img src="/../../content/images/Promotion5.png" alt="Image2" /></li>
                          <li><img src="/../../content/images/Pub-bible.jpg" alt="Image3" /></li>
                      </ul>
                  </div>

                  <!-- Catégories des produits avec images et boutons -->
                  <h2 jhiTranslate="home.subtitlecategory.title">Catégorie des produits</h2><br/>
                  <div class="container-fluid">
                      <div class="row justify-content-center">

                          <div class="col-3" style="text-align:center">
                              <div class="produit">
                                  <p jhiTranslate="home.subtitlecategory.bonnets">Bonnets</p>
                                  <button class="bouton from-middle">
                                      <a routerLink="product">
                                          <img src="/../../content/images/Produit_12.jpg">
                                      </a>
                                  </button>
                              </div>
                          </div>

                          <div class="col-3" style="text-align:center">
                              <div class="produit">
                                  <p jhiTranslate="home.subtitlecategory.chaussettes">Chaussettes</p>
                                  <button class="bouton from-middle">
                                      <a routerLink="product">
                                          <img src="/../../content/images/Produit_7.jpg">
                                      </a>
                                  </button>
                              </div>
                          </div>

                          <div class="col-3" style="text-align:center">
                              <div class="produit">
                                  <p jhiTranslate="home.subtitlecategory.pulls">Pulls</p>
                                  <button class="bouton from-middle">
                                      <a routerLink="product">
                                          <img src="/../../content/images/Produit_3.jpg">
                                      </a>
                                  </button>
                              </div>
                          </div>

                          <div class="col-3" style="text-align:center">
                              <div class="produit">
                                  <p jhiTranslate="home.subtitlecategory.mugs">Mugs</p>
                                  <button class="bouton from-middle">
                                      <a routerLink="product">
                                          <img src="/../../content/images/Produit_2.jpg">
                                      </a>
                                  </button>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="container-fluid">
                      <div class="row justify-content-center">

                          <div class="bible">
                              <p jhiTranslate="home.subtitlecategory.bibleCosmique">Bible Cosmique</p>
                              <button routerLink="product" class="bouton from-middle">
                                  <img src="/../../content/images/Produit_16.jpg">
                              </button>
                          </div>

                      </div>
                  </div>

                  <p>
                      <span class="hipster"></span><br/>
                  </p>

        </div>

        <div class="column right" style="background-color:#a4a1c4; height:10%;">
         <!--  <div class="col-2 ml-5 justify-content-right" style="background-color:#a4a1c4; height:10%;"> -->
                    <div class="row justify-content-center">
                        <div [ngSwitch]="isAuthenticated()"><br/>
                            <div id="spacetext" *ngSwitchCase="true">

                                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{username: account.login}"> You are logged in as user"{{account.login}}"</span><br/>
                                <br/>
                                <img src="/../../content/css/catspace.gif" style="width:250px;">
                            </div>

                            <div class="row text-center justify-content-center pt-4">
                                <div *ngSwitchCase="false">
                                    <a class="btn btn-primary btnsig" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">Sign in</a>
                                </div>
                            </div>

                            <div class="row text-center justify-content-center">
                                <div *ngSwitchCase="false">
                                    <a class="btn btn-primary btnlog" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Register</a>
                                </div>
                            </div>
                        </div>

                    </div>

               <!-- </div> -->
        </div>
    </div>

