@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ajout code personnalisation police sous-titre */
@font-face {
  /* Définition d'une nouvelle police nommée Major Snafu */
  font-family: 'Major Snafu';
  src: url('major_shift.ttf') format('truetype');
}

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body {
  background: url('../../content/css/bg_planet_body.png');
  background-size: 100%;
}

html,
body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

/* Increase contrast of links to get 100% on Lighthouse Accessability Audit. Override this color if you want to change the link color, or use a Bootswatch theme */
a {
  color: white;
}

a:hover {
  color: #40739e;
}

/* override hover color for dropdown-item forced by bootstrap to all a:not([href]):not([tabindex]) elements in _reboot.scss */
a:not([href]):not([tabindex]):hover.dropdown-item {
  color: $dropdown-link-hover-color;
}

/* override .dropdown-item.active background-color on hover */
.dropdown-item.active:hover {
  background-color: mix($dropdown-link-hover-bg, $dropdown-link-active-bg, 50%);
}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid green;
}

.ng-invalid:not(form) {
  border-left: 5px solid red;
}

/* other generic styles */

.jh-card {
  padding: 1.5%;
  position: center;
  margin-top: 20px;
  /* ajout de marges left et right pour ahérer la page d'accueil*/
  margin-left: 20%;
  margin-right: 20%;
  height: auto;
  /*fin de l'ajout*/
  border: none;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

/* ==========================================================================
FOOTER CODE PAULINE
========================================================================== */

.footer {
  /* Copier seulement ces lignes de code pour le FOOTER, mais le garder comme CLASSE cf : https://www.webtolosa.com/2017/09/21/comment-avoir-un-footer-colle-en-bas-de-page/ */
  position: relative;
  bottom: 0; /* on le colle en bas */
  width: 100%;
  height: auto; /* Hauteur du pied de page */
  /* + ajouter cette ligne de code (elle permet de fixer le pied de page en bas en adaptant à la taille du contenu)*/
  clear: both;
  /* personnalisation*/
  color: white;
  background-color: #1b2465;
}

/* anciens bouts de code de Pauline, mis de côté pour nouvelle mise en page mais FONCTIONNELS.
.wrapper {
   color: white;
   padding: 10px 0px;
   font-weight: 400;
   font-size: 14px;
 }

.wapper nav {
  float: left;
}

.wrapper nav ul {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  word-spacing: 60px;
  margin-left:350px;
}

.wrapper nav ul li {
  display: inline-block;
  list-style: none;
}

.wrapper nav ul li a {
  font-weight: 400;
  font-size: 14px;
  color: white;
  word-spacing: normal;
}
*/

/* ==========================================================================
HEADER
========================================================================== */

/* Header/Blog Title image */
#headertest {
  width: 100%;
  height-max: 160px;
  background: url('/../../content/images/bg_header2.png') no-repeat;
}

/* Header/Blog Title écriture */
#headertest h1 {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  color: white;
  padding-top: 40px;
  font-family: 'Major Snafu', Verdana, Arial, serif;
  text-shadow: #8e88eb 0.1em 0.1em 0.2em;
  font-size: 2.6em;
}

.header h1 {
  font-size: 50px;
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .jhi-toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > {
  dd {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .row.jh-entity-details > {
    dt {
      margin-bottom: 15px;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding-left: 180px;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
Homepage columns
========================================================================== */

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  height: auto;
  margin: 1%;
  padding: 1.3%;
  vertical-align: middle;
}

/* Left column */
.column.left {
  width: 18%;
}

/* Right column */
.column.right {
  margin: 20px 20px 10px;
  width: 18%;
  background-color: #40739e;
  color: white;
}

/* Middle column */
.column.middle {
  margin: 20px 20px 10px;
  width: 58%;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  width: 100%;
  padding: 20px;
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 748px) {
  .column.left,
  .column.right,
  .column.middle {
    width: 100%;
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* jhipster-needle-scss-add-main JHipster will add new css style */

/* ==========================================================================
CODE CAROUSEL PAULINE
========================================================================== */
/* Slider / tuto : https://www.youtube.com/watch?v=ZsuTciVL8PU */
@keyframes AutoSlide {
  0% {
    left: 0px; /* 1ère image */
  }
  10% {
    left: 0px; /* idem pour attente */
  }
  33% {
    left: -400px; /* 2ème image */
  }
  43% {
    left: -400px; /* idem pour attente */
  }
  66% {
    left: -800px; /* 3ème image */
  }
  76% {
    left: -800px; /* idem pour attente */
  }
  100% {
    left: 0px; /* 1ère image */
  }
}

@keyframes AutoSlide {
  0%,
  10%,
  100% {
    left: 0px; /* 1ère image */
  }
  33%,
  43% {
    left: -500px; /* 2ème image */
  }
  66%,
  76% {
    left: -1000px; /* 3ème image */
  }
}

#slideshow {
  position: relative; /* le parent positionné */
  width: 494px; /* limite en largeur (1 élément du slideshow) */
  height: 400px; /* limite en hauteur */
  margin: auto;
  overflow: hidden; /* on cache l'élément qui déborde */
}

#sContent li {
  display: inline; /* on aligne les éléments du slideshow */
}

#sContent {
  position: absolute; /* on sort l'élémentdu flux */
  top: 0; /* on le positionne précisément dans ... */
  left: 0; /* l'angle haut gauche de son parent positionné */
  width: 300%; /* ou 300% (car 3 éléments) */
  margin: 0px;
  padding: 0;

  /* CSS3 Transition */
  transition: left 3s;

  /* CSS3 keyframes animation */
  animation-name: AutoSlide;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/* ==========================================================================
CODE PRESENTATION PRODUITS PAULINE
========================================================================== */

/* ~~~~~~~ INIT. BTN ~~~~~~~ / Bouton sur image */

.bouton {
  position: relative;
  font-size: 1.4rem;
  color: var(--inv);
  letter-spacing: 1.1rem;
  text-transform: uppercase;
  transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  user-select: none;
}

.bouton:hover {
  color: var(--def);
  transition-delay: 0.6s;
}

/* From Middle */

.from-middle:before {
  top: 0;
  left: 50%;
  height: 100%;
  width: 0;
  border: 1px solid var(--inv);
  border-left: 0;
  border-right: 0;
}

.from-middle:after {
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: var(--inv);
}

.from-middle:hover:before {
  left: 0;
  width: 100%;
}

.from-middle:hover:after {
  top: 0;
  height: 100%;
}

.produit {
  --def: #0a0707;
  --inv: #463eed;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.produit img {
  height: 150px;
  width: 150px;
}

.bible {
  justify-content: center;
  align-items: center;
  height: auto;
  width: 219px;
}

.bible img {
  height: auto;
  width: 219px;
}

/* ==========================================================================
CODE PRESENTATION EQUIPE
========================================================================== */
/* Colonnes images présentation */
.lorene {
  display: inline-block;
  margin-top: 8px;
  width: 240px;
  height: 193px;
  background: url('../../content/images/logo_3.png') no-repeat center;
  background-size: contain;
}

.louis {
  display: inline-block;
  width: 200px;
  height: 200px;
  background: url('../../content/images/logo_6.png') no-repeat center;
  background-size: contain;
}

.pauline {
  display: inline-block;
  width: 200px;
  height: 200px;
  background: url('../../content/images/logo_5.png') no-repeat center;
  background-size: contain;
}

.romain {
  display: inline-block;
  width: 200px;
  height: 200px;
  background: url('../../content/images/logo_1.png') no-repeat center;
  background-size: contain;
}

.julie {
  display: inline-block;
  width: 200px;
  height: 200px;
  background: url('../../content/images/logo_4.png') no-repeat center;
  background-size: contain;
}
/* ==========================================================================
CODE BOUTTON STYLE LOGIN
========================================================================== */

/* Btn-primary login CREATE ACCOUNT style */
.btn-primary.btnlog {
  font-family: 'Major Snafu', Verdana, Arial, serif;
  color: #fff;
  background-color: #545c9d;
  border-color: white;
  vertical-align: auto;
  font-size: 1.3em;
  padding: 10px;
}
.btn-primary.btnlog:hover {
  color: #fff;
  background-color: #8d92d8;
  border-color: white;
  padding: 10px;
}
/* Btn-primary login SIGN IN style */
.btn-primary.btnsig {
  font-family: 'Major Snafu', Verdana, Arial, serif;
  color: #fff;
  background-color: #1b2465;
  border-color: white;
  font-size: 1.3em;
  padding: 10px;
}

.btn-primary.btnsig:hover {
  color: #fff;
  background-color: #8d92d8;
  border-color: white;
  padding: 10px;
}
/* fin btn-primary login style */

/* ==========================================================================
RUBRIQUE pour se connecter
========================================================================== */
#decalgauche {
  text-align: center;
  position: center;
  width: auto;
  padding-left: 21em;
}

/* ==========================================================================
ID pour personnaliser text
========================================================================== */

#spacetext {
  font-family: 'Major Snafu', Verdana, Arial, serif;
  text-shadow: #281a6f 0.1em 0.1em 0.2em;
  color: white;
  font-size: 1.3em;
}
